@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-input {
    border-radius: 1rem !important;
}
.quill{
border-radius: 1.5rem;
}
.ql-toolbar{
border-top-left-radius: 1.5rem;
border-top-right-radius: 1.5rem;
}
.ql-container{
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    min-height: 8rem;
}
.uploadcontainer {
    width: 100%;
    margin-bottom: 24px;
}
.uploadcontainer .videoLink{
    display: none;
}
.upload-area{
    width: 100%;
    box-sizing: border-box;
}
